html{
    height: 100%;
}

body{
    background-color: rgba(0, 0, 0, 0.05);
    display: table;
    height: 100%;

    #page{
        h2{
            color: rgba(0, 0, 0, 0.7);
            font-family: arial;
            font-size: 24pt;
            margin-top: 20px;
            text-align: center;
        }

        #sentence{
            background-color: white;
            border: 1px solid grey;
            font-size: 18pt;
            margin: 30px 0px 30px 0px;
            width: 100%;
        }
    }

    footer{
        display: table-row;
        height: 35px;
    }
}

